# New York Crime Project Implementation

## Part A: Accessing the datasets via SODA API

### Dataset 1 - Historic Data

In [ ]:
#Import required libraries i.e. requests and pandas
!pip install -U requests
!pip install -U pandas
import requests
import pandas as pd
print("The required libraries have been imported!")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (2.27.1)
Collecting requests
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests) (1.26.15)
Installing collected packages: requests
  Attempting uninstall: requests
    Found existing installation: requests 2.27.1
    Uninstalling requests-2.27.1:
      Successfully uninstalled requests-2.27.1
Successfully installed requests-2.28.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Collecting pandas
  Downloading pandas-2.0.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 82.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.5.3, but you have pandas 2.0.0 which is incompatible.
Successfully installed pandas-2.0.0
The required libraries have been imported!

In [ ]:
#Assign API Endpoint URL to variable "url_historic"
url_historic = 'https://data.cityofnewyork.us/resource/8h9b-rp9u.json?$limit=5400000'
print("The API Endpoint has been assigned to a variable!")

The API Endpoint has been assigned to a variable!

In [ ]:
#Send GET request to API Endpoint:
response = requests.get(url_historic)
print("The GET request has been sent to the API Endpoint!")

The GET request has been sent to the API Endpoint!

In [ ]:
#Convert response to pandas dataframe "df_historic"
df_historic = pd.DataFrame(response.json())
print("The response has been converted to a dataframe!")

The response has been converted to a dataframe!

In [ ]:
#Check all rows and columns in dataset got imported (count)
print("The dataframe has",df_historic.shape[0],"rows and",df_historic.shape[1],"columns.")

The dataframe has 5308876 rows and 24 columns.

In [ ]:
#Check all columns necessary for analysis got imported (name)
print("The dataframe has the following columns:")
col_names = []
for col_name in df_historic.columns:
    col_names.append(col_name)
print(', '.join(col_names))

The dataframe has the following columns:
arrest_key, arrest_date, pd_cd, law_code, law_cat_cd, arrest_boro, arrest_precinct, jurisdiction_code, age_group, perp_sex, perp_race, x_coord_cd, y_coord_cd, latitude, longitude, lon_lat, :@computed_region_efsh_h5xi, :@computed_region_f5dn_yrer, :@computed_region_yeji_bk3q, :@computed_region_92fq_4b7q, :@computed_region_sbqj_enih, pd_desc, ky_cd, ofns_desc

In [ ]:
#View first five rows of dataframe
df_historic.head()

,arrest_key,arrest_date,pd_cd,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,...,longitude,lon_lat,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,pd_desc,ky_cd,ofns_desc
0,236791704,2021-11-22T00:00:00.000,581,PL 2225001,M,M,28,0,45-64,M,...,-73.95240854099995,"{'type': 'Point', 'coordinates': [-73.95240854...",12423,18,4,36,18,NaN,NaN,NaN
1,237354740,2021-12-04T00:00:00.000,153,PL 1302502,F,B,41,0,25-44,M,...,-73.89529641399997,"{'type': 'Point', 'coordinates': [-73.89529641...",10937,8,5,43,24,RAPE 3,104,RAPE
2,236081433,2021-11-09T00:00:00.000,681,PL 2601001,M,Q,113,0,25-44,M,...,-73.77604736799998,"{'type': 'Point', 'coordinates': [-73.77604736...",24669,41,3,46,71,"CHILD, ENDANGERING WELFARE",233,SEX CRIMES
3,32311380,2007-06-18T00:00:00.000,511.0,PL 2200300,M,Q,27,1.0,18-24,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS
4,192799737,2019-01-26T00:00:00.000,177,PL 1306503,F,M,25,0,45-64,M,...,-73.941109285999971,"{'type': 'Point', 'coordinates': [-73.94110928...",13093,7,4,36,16,SEXUAL ABUSE,116,SEX CRIMES

### Dataset 2 - YTD Data

In [ ]:
#Assign API Endpoint URL to variable "url_ytd"
url_ytd = 'https://data.cityofnewyork.us/resource/uip8-fykc.json?$limit=5400000'
print("The API Endpoint has been assigned to a variable!")

The API Endpoint has been assigned to a variable!

In [ ]:
#Send GET request to API Endpoint
response = requests.get(url_ytd)
print("The GET request has been sent to the API Endpoint!")

The GET request has been sent to the API Endpoint!

In [ ]:
#Convert response to pandas dataframe "df_ytd"
df_ytd = pd.DataFrame(response.json())
print("The response has been converted to a dataframe!")

The response has been converted to a dataframe!

In [ ]:
#Check all rows and columns in dataset got imported (count)
print("The dataframe has",df_ytd.shape[0],"rows and",df_ytd.shape[1],"columns.")

The dataframe has 189774 rows and 24 columns.

In [ ]:
#Check all columns necessary for analysis got imported (name)
print("The dataframe has the following columns:")
col_names = []
for col_name in df_ytd.columns:
    col_names.append(col_name)
print(', '.join(col_names))

The dataframe has the following columns:
arrest_key, arrest_date, pd_cd, pd_desc, ky_cd, ofns_desc, law_code, law_cat_cd, arrest_boro, arrest_precinct, jurisdiction_code, age_group, perp_sex, perp_race, x_coord_cd, y_coord_cd, latitude, longitude, geocoded_column, :@computed_region_f5dn_yrer, :@computed_region_yeji_bk3q, :@computed_region_92fq_4b7q, :@computed_region_sbqj_enih, :@computed_region_efsh_h5xi

In [ ]:
#View first five rows of the dataframe
df_ytd.head()

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,...,x_coord_cd,y_coord_cd,latitude,longitude,geocoded_column,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_efsh_h5xi
0,239553009,2022-01-23T00:00:00.000,464,JOSTLING,230,JOSTLING,PL 1652501,M,Q,110,...,1027679,214505,40.75533648,-73.84324519,"{'type': 'Point', 'coordinates': [-73.84324519...",67,3,21,68,14510
1,239922214,2022-01-31T00:00:00.000,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1601502,F,K,69,...,1010576,175628,40.648698,-73.905128,"{'type': 'Point', 'coordinates': [-73.905128, ...",5,2,25,42,13827
2,239939130,2022-02-01T00:00:00.000,105,STRANGULATION 1ST,106,FELONY ASSAULT,PL 1211200,F,K,61,...,995118,155708,40.594054,-73.960866,"{'type': 'Point', 'coordinates': [-73.960866, ...",32,2,15,36,18183
3,240521791,2022-02-13T00:00:00.000,101,ASSAULT 3,344,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,28,...,997124,233883,40.808623,-73.953492,"{'type': 'Point', 'coordinates': [-73.953492, ...",18,4,36,18,12424
4,241022365,2022-02-21T00:00:00.000,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1600500,F,K,76,...,986331,190452,40.689425,-73.992493,"{'type': 'Point', 'coordinates': [-73.992493, ...",68,2,38,54,16865

## Part B: Performing data cleaning

### Create postgreSQL DB

In [ ]:
!pip install -U psycopg2
!pip install -U sqlaclchemy

In [ ]:
#Import libraries
from sqlalchemy import create_engine, text
import psycopg2

In [ ]:
#Create database
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    database="postgres",
    user="postgres",
    password="123")

# Set autocommit to true to create database
conn.autocommit = True

# Create a new database
db_name = "ny_crime_5400"
cur = conn.cursor()
cur.execute(f"CREATE DATABASE {db_name}")

# Close the database connection
conn.close()

print(str(db_name)+' database has been successfully created in PostgreSQL.')

ny_crime_5400 database has been successfully created in PostgreSQL.

In [ ]:
# Connect to database using psycopg2
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    database="ny_crime_5400",
    user="postgres",
    password="123")
cur = conn.cursor()

print("Successfully connected to ny_crime_5400 database using psycopg2!")

Successfully connected to ny_crime_5400 database using psycopg2!

In [ ]:
# Connect to database using sqlalchemy
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/'+str(db_name)

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()
print("Successfully connected to ny_crime_5400 database using sqlalchemy!")

Successfully connected to ny_crime_5400 database using sqlalchemy!

### Create tables in postgreSQL

---

In [ ]:
# Rename columns starting with ":@" and remove non alphanumeric characters
# as pgSQL column names do not support non-alphanumeric characters
map_non_alpha_numeric = {':@computed_region_efsh_h5xi':'computed_region_efsh_h5xi',
                         ':@computed_region_f5dn_yrer':'computed_region_f5dn_yrer',
                         ':@computed_region_yeji_bk3q':'computed_region_yeji_bk3q',
                         ':@computed_region_92fq_4b7q':'computed_region_92fq_4b7q',
                         ':@computed_region_sbqj_enih':'computed_region_sbqj_enih'}

df_ytd.rename(columns = map_non_alpha_numeric, inplace=True)
df_historic.rename(columns = map_non_alpha_numeric, inplace=True)

In [ ]:
# Convert dictionary columns into string as pgSQL does not support dictionary type values
import json
df_ytd['geocoded_column'] = df_ytd['geocoded_column'].apply(lambda x: json.dumps(x))
df_historic['lon_lat'] = df_historic['lon_lat'].apply(lambda x: json.dumps(x))

In [ ]:
df_ytd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189774 entries, 0 to 189773
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   arrest_key                 189774 non-null  object
 1   arrest_date                189774 non-null  object
 2   pd_cd                      189213 non-null  object
 3   pd_desc                    189774 non-null  object
 4   ky_cd                      189204 non-null  object
 5   ofns_desc                  189774 non-null  object
 6   law_code                   189774 non-null  object
 7   law_cat_cd                 188027 non-null  object
 8   arrest_boro                189774 non-null  object
 9   arrest_precinct            189774 non-null  object
 10  jurisdiction_code          189774 non-null  object
 11  age_group                  189774 non-null  object
 12  perp_sex                   189774 non-null  object
 13  perp_race                  189774 non-null  object
 14  x_coord_cd                 189774 non-null  object
 15  y_coord_cd                 189774 non-null  object
 16  latitude                   189774 non-null  object
 17  longitude                  189774 non-null  object
 18  geocoded_column            189774 non-null  object
 19  computed_region_f5dn_yrer  189765 non-null  object
 20  computed_region_yeji_bk3q  189765 non-null  object
 21  computed_region_92fq_4b7q  189764 non-null  object
 22  computed_region_sbqj_enih  189765 non-null  object
 23  computed_region_efsh_h5xi  189374 non-null  object
dtypes: object(24)
memory usage: 34.7+ MB

In [ ]:
df_historic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5308876 entries, 0 to 5308875
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   arrest_key                 object
 1   arrest_date                object
 2   pd_cd                      object
 3   law_code                   object
 4   law_cat_cd                 object
 5   arrest_boro                object
 6   arrest_precinct            object
 7   jurisdiction_code          object
 8   age_group                  object
 9   perp_sex                   object
 10  perp_race                  object
 11  x_coord_cd                 object
 12  y_coord_cd                 object
 13  latitude                   object
 14  longitude                  object
 15  lon_lat                    object
 16  computed_region_efsh_h5xi  object
 17  computed_region_f5dn_yrer  object
 18  computed_region_yeji_bk3q  object
 19  computed_region_92fq_4b7q  object
 20  computed_region_sbqj_enih  object
 21  pd_desc                    object
 22  ky_cd                      object
 23  ofns_desc                  object
dtypes: object(24)
memory usage: 972.1+ MB

In [ ]:
# Create tables
stmt = """
CREATE TABLE ytd (
 arrest_key                   integer PRIMARY KEY,
 arrest_date                  date,
 pd_cd                        integer,
 pd_desc                      varchar(100),
 ky_cd                        integer,
 ofns_desc                    varchar(100),
 law_code                     varchar(15),
 law_cat_cd                   char(1),
 arrest_boro                  char(1),
 arrest_precinct              integer,
 jurisdiction_code            integer,
 age_group                    varchar(10),
 perp_sex                     char(1),
 perp_race                    varchar(50),
 x_coord_cd                   integer,
 y_coord_cd                   integer,
 latitude                     float,
 longitude                    float,
 geocoded_column              varchar(300),
 computed_region_f5dn_yrer    integer,
 computed_region_yeji_bk3q    integer,
 computed_region_92fq_4b7q    integer,
 computed_region_sbqj_enih    integer,
 computed_region_efsh_h5xi    integer
);

CREATE TABLE historic (
 arrest_key                   integer PRIMARY KEY,
 arrest_date                  date,
 pd_cd                        float,
 law_code                     varchar(15),
 law_cat_cd                   char(1),
 arrest_boro                  char(1),
 arrest_precinct              integer,
 jurisdiction_code            float,
 age_group                    varchar(10),
 perp_sex                     char(1),
 perp_race                    varchar(50),
 x_coord_cd                   float,
 y_coord_cd                   float,
 latitude                     float,
 longitude                    float,
 lon_lat                      varchar(300),
 computed_region_f5dn_yrer    integer,
 computed_region_yeji_bk3q    integer,
 computed_region_92fq_4b7q    integer,
 computed_region_sbqj_enih    integer,
 computed_region_efsh_h5xi    integer,
 pd_desc                      varchar(100),
 ky_cd                        float,
 ofns_desc                    varchar(100)
);

CREATE table joined_table (
    arrest_id                  integer PRIMARY KEY,
    arrest_date                date,
    crime_type                 varchar(100),
    crime_category             varchar(100),
    law_code                   varchar(15),
    offense_level              char(1),
    borough                    char(1),
    precinct_id                integer,
    jurisdiction_code          integer,
    age_group                  varchar(10),
    sex                        char(1),
    race                       varchar(50),
    latitude                   float,
    longitude                  float
);

CREATE TABLE crime_categories (
    crime_category_id       serial PRIMARY KEY,
    crime_category          varchar(100) NOT NULL
);
CREATE TABLE offense_levels (
    offense_level_id       serial PRIMARY KEY,
    offense_level          char(1) NOT NULL
);
CREATE TABLE law_codes (
    law_code_id            serial PRIMARY KEY,
    law_code               varchar(15) NOT NULL
);
CREATE TABLE age_groups (
    age_group_id           serial PRIMARY KEY,
    age_group              varchar(10) NOT NULL
);
CREATE TABLE sex (
    sex_id                 serial PRIMARY KEY,
    sex                    char(1) NOT NULL
);
CREATE TABLE races (
    race_id                serial PRIMARY KEY,
    race                   varchar(50) NOT NULL
);

CREATE TABLE jurisdictions (
    jurisdiction_id           serial PRIMARY KEY,
    jurisdiction_code         integer NOT NULL
);

CREATE TABLE boroughs (
    borough_id               serial PRIMARY KEY,
    borough                  char(1) NOT NULL
);

CREATE TABLE crime_types (
    crime_type_id            serial PRIMARY KEY,
    crime_type               varchar(300) NOT NULL,
    crime_category_id        integer,
    FOREIGN KEY (crime_category_id) REFERENCES crime_categories (crime_category_id)
);

CREATE TABLE arrests (
    arrest_id        serial PRIMARY KEY,
    arrest_date      date NOT NULL,
    crime_type_id    integer,
    law_code_id      integer,
    precinct_id      integer,
    age_group_id     integer,
    sex_id           integer,
    offense_level_id integer,
    race_id          integer,
    jurisdiction_id  integer,
    longitude        float,
    latitude         float,
    borough_id       integer,
    FOREIGN KEY (crime_type_id) REFERENCES crime_types (crime_type_id),
    FOREIGN KEY (law_code_id) REFERENCES law_codes (law_code_id),
    FOREIGN KEY (age_group_id) REFERENCES age_groups (age_group_id),
    FOREIGN KEY (sex_id) REFERENCES sex (sex_id),
    FOREIGN KEY (offense_level_id) REFERENCES offense_levels (offense_level_id),
    FOREIGN KEY (race_id) REFERENCES races (race_id),
    FOREIGN KEY (jurisdiction_id) REFERENCES jurisdictions (jurisdiction_id),
    FOREIGN KEY (borough_id) REFERENCES boroughs (borough_id)
);

"""
cur.execute(stmt)

# commit the changes to the database
conn.commit();

print('All tables have been successfully created in PostgreSQL.')

All tables have been successfully created in PostgreSQL.

### Insert uncleaned data into postgreSQL

In [ ]:
# Insert df_ytd to sql table
df_ytd.to_sql(name='ytd', con=engine, if_exists='append', index=False)

774

In [ ]:
# Insert df_historic to sql table
df_historic.to_sql(name='historic', con=engine, if_exists='append', index=False)

876

### Union historic & ytd tables to joined_table

In [ ]:
#Drop Unnecessary columns and union ytd and historic tables into joined_data
query = """
INSERT INTO joined_table  (
	arrest_id,
	arrest_date,
	crime_type,
	crime_category,
	law_code,
	offense_level,
	borough,
	precinct_id,
	jurisdiction_code,
	age_group,
	sex,
	race,
	latitude,
	longitude
	)
SELECT *
FROM (
    SELECT
    arrest_key as arrest_id,
    arrest_date,
    pd_desc as crime_type,
    ofns_desc as crime_category,
    law_code,
    law_cat_cd as offense_level,
    arrest_boro as borough,
    arrest_precinct as precinct_id,
    jurisdiction_code,
    age_group,
    perp_sex as sex,
    perp_race as race,
    latitude,
    longitude
    FROM ytd
    union
    SELECT
    arrest_key as arrest_id,
    arrest_date,
    pd_desc as crime_type,
    ofns_desc as crime_category,
    law_code,
    law_cat_cd as offense_level,
    arrest_boro as borough,
    arrest_precinct as precinct_id,
    jurisdiction_code,
    age_group,
    perp_sex as sex,
    perp_race as race,
    latitude,
    longitude
    from
    historic
) as cleaned_joined_data;
"""

cur.execute(query)

# commit the changes to the database
conn.commit();

print('Query successfully ran in PostgreSQL.')

Query successfully ran in PostgreSQL.

### Clean values and update in joined_table table

In [ ]:
# Clean columns: age_group, crime_category, crime_type
query = """
UPDATE joined_table
SET
    age_group =
	    CASE
	        WHEN age_group = '25-44' THEN '25-44'
	        WHEN age_group = '65+' THEN '65+'
	        WHEN age_group = '45-64' THEN '45-64'
	        WHEN age_group = '<18' THEN '<18'
	        WHEN age_group = '18-24' THEN '18-24'
	        ELSE null
	    end,
	crime_category =
		case
		   WHEN crime_category = 'VEHICLE AND TRAFFIC LAWS' then 'VEHICLE AND TRAFFIC LAWS'
		   WHEN crime_category = '(null)' then null
		   WHEN crime_category = 'UNLAWFUL POSS. WEAP. ON SCHOOL GROUNDS' then 'UNLAWFUL POSS. WEAP. ON SCHOOL GROUNDS'
		   WHEN crime_category = 'UNLAWFUL POSS. WEAP. ON SCHOOL' then 'UNLAWFUL POSS. WEAP. ON SCHOOL GROUNDS'
		   WHEN crime_category = 'UNDER THE INFLUENCE, DRUGS' then 'UNDER THE INFLUENCE, DRUGS'
		   WHEN crime_category = 'UNAUTHORIZED USE OF A VEHICLE 3 (UUV)' then 'UNAUTHORIZED USE OF A VEHICLE'
		   WHEN crime_category = 'UNAUTHORIZED USE OF A VEHICLE' then 'UNAUTHORIZED USE OF A VEHICLE'
		   WHEN crime_category = 'THEFT-FRAUD' then 'THEFT-FRAUD/THEFT OF SERVICES'
		   WHEN crime_category = 'THEFT OF SERVICES' then 'THEFT-FRAUD/THEFT OF SERVICES'
		   WHEN crime_category = 'SEX CRIMES' then 'SEX CRIMES'
		   WHEN crime_category = 'ROBBERY' then 'ROBBERY'
		   WHEN crime_category = 'RAPE' then 'RAPE'
		   WHEN crime_category = 'PROSTITUTION & RELATED OFFENSES' then 'PROSTITUTION & RELATED OFFENSES'
		   WHEN crime_category = 'POSSESSION OF STOLEN PROPERTY 5' then 'POSSESSION OF STOLEN PROPERTY'
		   WHEN crime_category = 'POSSESSION OF STOLEN PROPERTY' then 'POSSESSION OF STOLEN PROPERTY'
		   WHEN crime_category = 'PETIT LARCENY' then 'PETIT LARCENY'
		   WHEN crime_category = 'PARKING OFFENSES' then 'PARKING OFFENSES'
		   WHEN crime_category = 'OTHER TRAFFIC INFRACTION' then 'OTHER TRAFFIC INFRACTION'
		   WHEN crime_category = 'OTHER STATE LAWS (NON PENAL LAW)' then 'OTHER STATE LAWS (NON PENAL LAW)'
		   WHEN crime_category = 'OTHER STATE LAWS (NON PENAL LA' then 'OTHER STATE LAWS (NON PENAL LAW)'
		   WHEN crime_category = 'OTHER STATE LAWS' then 'OTHER STATE LAWS (NON PENAL LAW)'
		   WHEN crime_category = 'OTHER OFFENSES RELATED TO THEFT' then 'OTHER OFFENSES RELATED TO THEFT'
		   WHEN crime_category = 'OTHER OFFENSES RELATED TO THEF' then 'OTHER OFFENSES RELATED TO THEFT'
		   WHEN crime_category = 'OFFENSES RELATED TO CHILDREN' then 'OFFENSES RELATED TO CHILDREN'
		   WHEN crime_category = 'OFFENSES INVOLVING FRAUD' then 'OFFENSES INVOLVING FRAUD'
		   WHEN crime_category = 'OFFENSES AGAINST THE PERSON' then 'OFFENSES AGAINST THE PERSON'
		   WHEN crime_category = 'OFFENSES AGAINST PUBLIC SAFETY' then 'OFFENSES AGAINST PUBLIC SAFETY'
		   WHEN crime_category = 'OFFENSES AGAINST PUBLIC ADMINISTRATION' then 'OFFENSES AGAINST PUBLIC ADMINISTRATION'
		   WHEN crime_category = 'OFFENSES AGAINST PUBLIC ADMINI' then 'OFFENSES AGAINST PUBLIC ADMINISTRATION'
		   WHEN crime_category = 'OFFENSES AGAINST MARRIAGE UNCLASSIFIED' then 'OFFENSES AGAINST MARRIAGE UNCLASSIFIED'
		   WHEN crime_category = 'OFF. AGNST PUB ORD SENSBLTY & RGHTS TO PRIV' then 'OFFENSES AGNST PUB ORD SENSBLTY & RIGHTS TO PRIVACY'
		   WHEN crime_category = 'OFF. AGNST PUB ORD SENSBLTY &' then 'OFFENSES AGNST PUB ORD SENSBLTY & RIGHTS TO PRIVACY'
		   WHEN crime_category = 'NYS LAWS-UNCLASSIFIED VIOLATION' then 'NYS LAWS-UNCLASSIFIED VIOLATION'
		   WHEN crime_category = 'NYS LAWS-UNCLASSIFIED FELONY' then 'NYS LAWS-UNCLASSIFIED FELONY'
		   WHEN crime_category = 'NEW YORK CITY HEALTH CODE' then 'NEW YORK CITY HEALTH CODE'
		   WHEN crime_category = 'MURDER & NON-NEGL. MANSLAUGHTER' then 'MURDER & NON-NEGL. MANSLAUGHTER'
		   WHEN crime_category = 'MURDER & NON-NEGL. MANSLAUGHTE' then 'MURDER & NON-NEGL. MANSLAUGHTER'
		   WHEN crime_category = 'MOVING INFRACTIONS' then 'MOVING INFRACTIONS'
		   WHEN crime_category = 'MISCELLANEOUS PENAL LAW' then 'MISCELLANEOUS PENAL LAW'
		   WHEN crime_category = 'LOITERING/GAMBLING (CARDS, DICE, ETC)' then 'LOITERING'
		   WHEN crime_category = 'LOITERING/GAMBLING (CARDS, DIC' then 'LOITERING'
		   WHEN crime_category = 'LOITERING,BEGGING' then 'LOITERING'
		   WHEN crime_category = 'LOITERING FOR DRUG PURPOSES' then 'LOITERING FOR DRUG PURPOSES'
		   WHEN crime_category = 'LOITERING' then 'LOITERING'
		   WHEN crime_category = 'KIDNAPPING AND RELATED OFFENSES' then 'KIDNAPPING AND RELATED OFFENSES'
		   WHEN crime_category = 'KIDNAPPING & RELATED OFFENSES' then 'KIDNAPPING AND RELATED OFFENSES'
		   WHEN crime_category = 'KIDNAPPING' then 'KIDNAPPING AND RELATED OFFENSES'
		   WHEN crime_category = 'JOSTLING' then 'JOSTLING'
		   WHEN crime_category = 'INTOXICATED/IMPAIRED DRIVING' then 'INTOXICATED & IMPAIRED DRIVING'
		   WHEN crime_category = 'INTOXICATED & IMPAIRED DRIVING' then 'INTOXICATED & IMPAIRED DRIVING'
		   WHEN crime_category = 'HOMICIDE-NEGLIGENT-VEHICLE' then 'HOMICIDE-NEGLIGENT-VEHICLE'
		   WHEN crime_category = 'HOMICIDE-NEGLIGENT,UNCLASSIFIED' then 'HOMICIDE-NEGLIGENT-UNCLASSIFIED'
		   WHEN crime_category = 'HOMICIDE-NEGLIGENT,UNCLASSIFIE' then 'HOMICIDE-NEGLIGENT-UNCLASSIFIED'
		   WHEN crime_category = 'HARRASSMENT 2' then 'HARASSMENT'
		   WHEN crime_category = 'HARASSMENT' then 'HARASSMENT'
		   WHEN crime_category = 'GRAND LARCENY OF MOTOR VEHICLE' then 'GRAND LARCENY'
		   WHEN crime_category = 'GRAND LARCENY' then 'GRAND LARCENY'
		   WHEN crime_category = 'GAMBLING' then 'GAMBLING'
		   WHEN crime_category = 'FRAUDULENT ACCOSTING' then 'FRAUDULENT ACCOSTING'
		   WHEN crime_category = 'FRAUDS' then 'FRAUDS'
		   WHEN crime_category = 'FORTUNE TELLING' then 'FORTUNE TELLING'
		   WHEN crime_category = 'FORGERY' then 'FORGERY'
		   WHEN crime_category = 'FORCIBLE TOUCHING' then 'FORCIBLE TOUCHING'
		   WHEN crime_category = 'FOR OTHER AUTHORITIES' then 'FOR OTHER AUTHORITIES'
		   WHEN crime_category = 'FELONY SEX CRIMES' then 'SEX CRIMES'
		   WHEN crime_category = 'FELONY ASSAULT' then 'FELONY ASSAULT'
		   WHEN crime_category = 'F.C.A. P.I.N.O.S.' then 'F.C.A. P.I.N.O.S.'
		   WHEN crime_category = 'ESCAPE 3' then 'ESCAPE'
		   WHEN crime_category = 'ENDAN WELFARE INCOMP' then 'ENDAN WELFARE INCOMP'
		   WHEN crime_category = 'DISRUPTION OF A RELIGIOUS SERVICE' then 'DISRUPTION OF A RELIGIOUS SERVICE'
		   WHEN crime_category = 'DISRUPTION OF A RELIGIOUS SERV' then 'DISRUPTION OF A RELIGIOUS SERVICE'
		   WHEN crime_category = 'DISORDERLY CONDUCT' then 'DISORDERLY CONDUCT'
		   WHEN crime_category = 'DANGEROUS WEAPONS' then 'DANGEROUS WEAPONS'
		   WHEN crime_category = 'DANGEROUS DRUGS' then 'CANNABIS RELATED OFFENSES'
		   WHEN crime_category = 'CRIMINAL TRESPASS' then 'CRIMINAL TRESPASS'
		   WHEN crime_category = 'CRIMINAL MISCHIEF & RELATED OFFENSES' then 'CRIMINAL MISCHIEF & RELATED OFFENSES'
		   WHEN crime_category = 'CRIMINAL MISCHIEF & RELATED OF' then 'CRIMINAL MISCHIEF & RELATED OFFENSES'
		   WHEN crime_category = 'CHILD ABANDONMENT/NON SUPPORT 1' then 'CHILD ABANDONMENT'
		   WHEN crime_category = 'CHILD ABANDONMENT/NON SUPPORT' then 'NON SUPPORT'
		   WHEN crime_category = 'CANNABIS RELATED OFFENSES' then 'CANNABIS RELATED OFFENSES'
		   WHEN crime_category = 'BURGLARY' then 'BURGLARY RELATED OFFENSES'
		   WHEN crime_category = 'BURGLAR''S TOOLS' then 'BURGLARY RELATED OFFENSES'
		   WHEN crime_category = 'ASSAULT 3 & RELATED OFFENSES' then 'ASSAULT'
		   WHEN crime_category = 'ARSON' then 'ARSON'
		   WHEN crime_category = 'ANTICIPATORY OFFENSES' then 'ANTICIPATORY OFFENSES'
		   WHEN crime_category = 'ALCOHOLIC BEVERAGE CONTROL LAW' then 'ALCOHOLIC BEVERAGE CONTROL LAW'
		   WHEN crime_category = 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED' then 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED'
		   WHEN crime_category = 'ADMINISTRATIVE CODES' then 'ADMINISTRATIVE CODES'
		   WHEN crime_category = 'ADMINISTRATIVE CODE' then 'ADMINISTRATIVE CODES'
		   WHEN crime_category = 'ABORTION' then 'ABORTION'
		   else null
		end,
	crime_type =
		case
			when crime_type = 'UNKNOWN' then null
			when crime_type = '(null)' then null
			else crime_type
		end;
"""

cur.execute(query)

# commit the changes to the database
conn.commit();

print('Query successfully ran in PostgreSQL.')

Query successfully ran in PostgreSQL.

### Insert Values into each table

In [ ]:
query = """
--- Insert distinct values to sex table
insert into sex (sex)
select distinct sex from joined_table
where sex is not null;

--- Insert distinct values to age_groups table
insert into age_groups (age_group)
select distinct age_group from joined_table
where age_group is not null;

--- Insert distinct values to boroughs table
insert into boroughs (borough)
select distinct borough from joined_table
where borough is not null;


--- Insert distinct values to crime_categories table
insert into crime_categories (crime_category)
select distinct crime_category from joined_table
where crime_category is not null;


--- Insert and clean distinct jurisdictions table
insert into jurisdictions (jurisdiction_code)
select distinct jurisdiction_code
from joined_table
where jurisdiction_code is not null ;

--- Insert distinct values to law_codes table
insert into law_codes (law_code)
select distinct law_code from joined_table
where law_code is not null;

--- Insert distinct values to offense_levels table
insert into offense_levels (offense_level)
select distinct offense_level from joined_table
where offense_level is not null;


--- Insert distinct values to races table
insert into races (race)
select distinct race from joined_table
where race is not null;


--- Join foreign key and insert distinct values to crime_types table
insert into crime_types (crime_type, crime_category_id)
select distinct crime_type, cc.crime_category_id
from joined_table jt
left join crime_categories as cc on cc.crime_category = jt.crime_category
where crime_type is not null;

--- Join foreign keys and insert into arrests table
insert into arrests
	(arrest_id,
	arrest_date,
	crime_type_id,
	law_code_id,
	precinct_id,
	age_group_id,
	sex_id,
	offense_level_id,
	race_id,
	jurisdiction_id,
	longitude,
	latitude,
	borough_id)
select
	distinct jt.arrest_id,
	jt.arrest_date,
	ct.crime_type_id,
	lc.law_code_id,
	jt.precinct_id,
	ag.age_group_id,
	s.sex_id,
	ol.offense_level_id,
	r.race_id,
	j.jurisdiction_id,
	jt.longitude,
	jt.latitude,
	b.borough_id
from joined_table jt
left join sex s on jt.sex = s.sex
left join crime_categories cc on jt.crime_category = cc.crime_category
left join crime_types ct on cc.crime_category_id = ct.crime_category_id and ct.crime_type = jt.crime_type
left join law_codes lc on jt.law_code = lc.law_code
left join age_groups ag on jt.age_group = ag.age_group
left join offense_levels ol on jt.offense_level = ol.offense_level
left join races r on jt.race = r.race
left join jurisdictions j on jt.jurisdiction_code = j.jurisdiction_code
left join boroughs b on jt.borough = b.borough;

"""

cur.execute(query)

# commit the changes to the database
conn.commit()

print('Query successfully ran in PostgreSQL.')

Query successfully ran in PostgreSQL.

### PostgresSQL Database Validation

In [ ]:
# Count of number of rows in arrests table
query1 = """
-- Check number of rows in arrests
select count(*) from arrests a;
"""

# Count of number of rows in joined_table table
query2 = """
-- Check number of rows in joined_table
select count(*) from joined_table;
"""

# Count of number of rows in historic table
query3 = """
SELECT COUNT(*)
FROM historic
"""
# Count of number of rows in historic table
query4 = """
SELECT COUNT(*)
FROM ytd
"""

cur.execute(query1)
rowcounts_arrests = cur.fetchone()[0]

cur.execute(query2)
rowcounts_joined_table = cur.fetchone()[0]

cur.execute(query3)
rowcounts_historic = cur.fetchone()[0]

cur.execute(query4)
rowcounts_ytd = cur.fetchone()[0]

print(f"""
Number of rows in joined_table = Number of rows in historic + Number of rows in ytd: {rowcounts_joined_table == rowcounts_historic + rowcounts_ytd}
{rowcounts_joined_table} = {rowcounts_historic} + {rowcounts_ytd}

Number of rows in arrests = Number of rows in joined table: {rowcounts_arrests == rowcounts_joined_table}
{rowcounts_arrests} = {rowcounts_joined_table}
""")


print(f'Number of rows in arrests table: {rowcounts_arrests}')
print(f'Number of rows in joined_table table: {rowcounts_joined_table}')
if rowcounts_arrests != rowcounts_joined_table:
    print('Discrepency between arrests and joined_table')
else:
    print ('The number of rows in arrests == joined table!')

Number of rows in joined_table = Number of rows in historic + Number of rows in ytd: True
5498650 = 5308876 + 189774

Number of rows in arrests = Number of rows in joined table: True
5498650 = 5498650

Number of rows in arrests table: 5498650
Number of rows in joined_table table: 5498650
The number of rows in arrests == joined table!

### Close Connection & Engine

In [ ]:
#Close connection and engine to avoid resource leaks.

# Close the connection and conn
connection.close()

conn.close()

# Close the engine
engine.dispose()

## Part C: Interactive Flask App & Apache Spark Aggregations

### Query data from PostgreSQL DB using  Apache Spark

In [ ]:
!pip install -U pyspark

Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ---------------------------------------- 0.0/310.8 MB ? eta -:--:--
     ---------------------------------------- 0.2/310.8 MB 6.7 MB/s eta 0:00:47
     --------------------------------------- 1.3/310.8 MB 13.6 MB/s eta 0:00:23
     --------------------------------------- 3.7/310.8 MB 26.1 MB/s eta 0:00:12
      -------------------------------------- 7.3/310.8 MB 38.8 MB/s eta 0:00:08
     - ------------------------------------ 10.6/310.8 MB 54.4 MB/s eta 0:00:06
     - ------------------------------------ 14.2/310.8 MB 72.6 MB/s eta 0:00:05
     -- ----------------------------------- 17.4/310.8 MB 72.6 MB/s eta 0:00:05
     -- ----------------------------------- 20.8/310.8 MB 73.1 MB/s eta 0:00:04
     -- ----------------------------------- 24.3/310.8 MB 73.1 MB/s eta 0:00:04
     --- ---------------------------------- 27.4/310.8 MB 73.1 MB/s eta 0:00:04
     --- ---------------------------------- 31.1/310.8 MB 72.6 MB/s eta 0:00:04
     ---- --------------------------------- 34.2/310.8 MB 72.6 MB/s eta 0:00:04
     ---- --------------------------------- 37.8/310.8 MB 72.6 MB/s eta 0:00:04
     ----- -------------------------------- 41.1/310.8 MB 72.6 MB/s eta 0:00:04
     ----- -------------------------------- 44.5/310.8 MB 72.6 MB/s eta 0:00:04
     ----- -------------------------------- 47.9/310.8 MB 73.1 MB/s eta 0:00:04
     ------ ------------------------------- 51.3/310.8 MB 73.1 MB/s eta 0:00:04
     ------ ------------------------------- 54.7/310.8 MB 73.1 MB/s eta 0:00:04
     ------- ------------------------------ 58.1/310.8 MB 72.6 MB/s eta 0:00:04
     ------- ------------------------------ 61.5/310.8 MB 72.6 MB/s eta 0:00:04
     ------- ------------------------------ 64.9/310.8 MB 72.6 MB/s eta 0:00:04
     -------- ----------------------------- 68.3/310.8 MB 72.6 MB/s eta 0:00:04
     -------- ----------------------------- 71.6/310.8 MB 72.6 MB/s eta 0:00:04
     --------- ---------------------------- 73.7/310.8 MB 72.6 MB/s eta 0:00:04
     --------- ---------------------------- 76.0/310.8 MB 59.5 MB/s eta 0:00:04
     --------- ---------------------------- 76.8/310.8 MB 46.7 MB/s eta 0:00:06
     ---------- --------------------------- 81.8/310.8 MB 54.7 MB/s eta 0:00:05
     ---------- --------------------------- 85.2/310.8 MB 65.6 MB/s eta 0:00:04
     ---------- --------------------------- 88.6/310.8 MB 81.8 MB/s eta 0:00:03
     ----------- -------------------------- 92.0/310.8 MB 72.6 MB/s eta 0:00:04
     ----------- -------------------------- 95.6/310.8 MB 72.6 MB/s eta 0:00:03
     ------------ ------------------------- 98.8/310.8 MB 73.1 MB/s eta 0:00:03
     ------------ ------------------------ 102.1/310.8 MB 73.1 MB/s eta 0:00:03
     ------------ ------------------------ 105.6/310.8 MB 73.1 MB/s eta 0:00:03
     ------------ ------------------------ 109.2/310.8 MB 72.6 MB/s eta 0:00:03
     ------------- ----------------------- 112.4/310.8 MB 72.6 MB/s eta 0:00:03
     ------------- ----------------------- 115.8/310.8 MB 72.6 MB/s eta 0:00:03
     -------------- ---------------------- 119.2/310.8 MB 72.6 MB/s eta 0:00:03
     -------------- ---------------------- 122.7/310.8 MB 72.6 MB/s eta 0:00:03
     -------------- ---------------------- 126.0/310.8 MB 73.1 MB/s eta 0:00:03
     --------------- --------------------- 129.4/310.8 MB 73.1 MB/s eta 0:00:03
     --------------- --------------------- 132.8/310.8 MB 73.1 MB/s eta 0:00:03
     ---------------- -------------------- 136.1/310.8 MB 72.6 MB/s eta 0:00:03
     ---------------- -------------------- 139.3/310.8 MB 72.6 MB/s eta 0:00:03
     ----------------- ------------------- 142.8/310.8 MB 72.6 MB/s eta 0:00:03
     ----------------- ------------------- 146.1/310.8 MB 72.6 MB/s eta 0:00:03
     ----------------- ------------------- 149.6/310.8 MB 72.6 MB/s eta 0:00:03
     ------------------ ------------------ 152.7/310.8 MB 65.6 MB/s eta 0:00:03
     ------------------ ------------------ 156.4/310.8 MB 73.1 MB/s eta 0:00:03
     ------------------- ----------------- 159.9/310.8 MB 73.1 MB/s eta 0:00:03
     ------------------- ----------------- 163.2/310.8 MB 72.6 MB/s eta 0:00:03
     ------------------- ----------------- 166.7/310.8 MB 72.6 MB/s eta 0:00:02
     -------------------- ---------------- 169.8/310.8 MB 72.6 MB/s eta 0:00:02
     -------------------- ---------------- 173.5/310.8 MB 72.6 MB/s eta 0:00:02
     --------------------- --------------- 176.8/310.8 MB 72.6 MB/s eta 0:00:02
     --------------------- --------------- 179.9/310.8 MB 73.1 MB/s eta 0:00:02
     --------------------- --------------- 183.3/310.8 MB 65.6 MB/s eta 0:00:02
     ---------------------- -------------- 186.9/310.8 MB 73.1 MB/s eta 0:00:02
     ---------------------- -------------- 190.4/310.8 MB 72.6 MB/s eta 0:00:02
     ----------------------- ------------- 193.7/310.8 MB 72.6 MB/s eta 0:00:02
     ----------------------- ------------- 197.2/310.8 MB 72.6 MB/s eta 0:00:02
     ----------------------- ------------- 200.1/310.8 MB 65.2 MB/s eta 0:00:02
     ------------------------ ------------ 203.9/310.8 MB 72.6 MB/s eta 0:00:02
     ------------------------ ------------ 207.3/310.8 MB 73.1 MB/s eta 0:00:02
     ------------------------- ----------- 210.8/310.8 MB 73.1 MB/s eta 0:00:02
     ------------------------- ----------- 214.0/310.8 MB 73.1 MB/s eta 0:00:02
     ------------------------- ----------- 217.3/310.8 MB 72.6 MB/s eta 0:00:02
     -------------------------- ---------- 220.8/310.8 MB 72.6 MB/s eta 0:00:02
     -------------------------- ---------- 224.0/310.8 MB 65.6 MB/s eta 0:00:02
     --------------------------- --------- 227.6/310.8 MB 72.6 MB/s eta 0:00:02
     --------------------------- --------- 230.6/310.8 MB 65.2 MB/s eta 0:00:02
     --------------------------- --------- 234.4/310.8 MB 81.8 MB/s eta 0:00:01
     ---------------------------- -------- 237.6/310.8 MB 72.6 MB/s eta 0:00:02
     ---------------------------- -------- 241.1/310.8 MB 81.8 MB/s eta 0:00:01
     ----------------------------- ------- 244.5/310.8 MB 65.6 MB/s eta 0:00:02
     ----------------------------- ------- 247.9/310.8 MB 81.8 MB/s eta 0:00:01
     ----------------------------- ------- 251.3/310.8 MB 65.6 MB/s eta 0:00:01
     ------------------------------ ------ 254.5/310.8 MB 65.2 MB/s eta 0:00:01
     ------------------------------ ------ 258.2/310.8 MB 72.6 MB/s eta 0:00:01
     ------------------------------- ----- 261.4/310.8 MB 81.8 MB/s eta 0:00:01
     ------------------------------- ----- 264.9/310.8 MB 73.1 MB/s eta 0:00:01
     ------------------------------- ----- 268.4/310.8 MB 65.6 MB/s eta 0:00:01
     -------------------------------- ---- 271.6/310.8 MB 65.6 MB/s eta 0:00:01
     -------------------------------- ---- 274.7/310.8 MB 65.6 MB/s eta 0:00:01
     --------------------------------- --- 278.5/310.8 MB 73.1 MB/s eta 0:00:01
     --------------------------------- --- 281.6/310.8 MB 72.6 MB/s eta 0:00:01
     --------------------------------- --- 285.2/310.8 MB 72.6 MB/s eta 0:00:01
     ---------------------------------- -- 288.7/310.8 MB 73.1 MB/s eta 0:00:01
     ---------------------------------- -- 292.2/310.8 MB 73.1 MB/s eta 0:00:01
     ----------------------------------- - 295.6/310.8 MB 73.1 MB/s eta 0:00:01
     ----------------------------------- - 298.8/310.8 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  303.3/310.8 MB 81.8 MB/s eta 0:00:01
     ------------------------------------  307.8/310.8 MB 73.1 MB/s eta 0:00:01
     ------------------------------------  310.8/310.8 MB 73.1 MB/s eta 0:00:01
     ------------------------------------  310.8/310.8 MB 73.1 MB/s eta 0:00:01
     ------------------------------------  310.8/310.8 MB 73.1 MB/s eta 0:00:01
     ------------------------------------  310.8/310.8 MB 73.1 MB/s eta 0:00:01
     ------------------------------------- 310.8/310.8 MB 19.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ---------------------------------------- 0.0/200.5 kB ? eta -:--:--
     ------------------------------------- 200.5/200.5 kB 12.7 MB/s eta 0:00:00
Installing collected packages: py4j, pyspark
  Running setup.py install for pyspark: started
  Running setup.py install for pyspark: finished with status 'done'
Successfully installed py4j-0.10.9.7 pyspark-3.4.0

  DEPRECATION: pyspark is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

#### Import the OS and set PYSPARK environment

In [ ]:
#import the OS and set PYSPARK environment
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

#### **Initiate and configure Spark Session and Context**

#### Create a spark session and spark context

In [ ]:
# Create a spark session and spark context
from pyspark.sql import SparkSession

#jarpath = "/Library/Frameworks/Python.framework/Versions/3.11/bin/postgresql-42.6.0.jar"
jarpath = "C:\\Users\\Jordan\\Joy\\crime-data\\postgresql-42.6.0.jar"
spark = SparkSession \
    .builder \
    .appName("NY Crime") \
    .config("spark.cores.max", "4") \
    .config('spark.executor.memory', '10G') \
    .config('spark.driver.maxResultSize', '10g') \
    .config('spark.kryoserializer.buffer.max', '512m') \
    .config("spark.driver.cores", "4") \
    .config("spark.jars", jarpath) \
    .getOrCreate()

# Configure the PostgreSQL JDBC driver path
# Must download PostgreSQL JDBC .jar file from https://jdbc.postgresql.org/download/
sc = spark.sparkContext

print("Using Apache Spark Version", spark.version)

Using Apache Spark Version 3.4.0

In [ ]:
# Define the JDBC connection properties
hostname = "localhost"
port = "5432"
database = "ny_crime_5400"
username = "postgres"
password = "123"
jdbc_url = f"jdbc:postgresql://{hostname}:{port}/{database}"
jdbc_properties = {
  "user": username,
  "password": password,
  "driver": "org.postgresql.Driver"
}
print("Successfully configured to ny_crime_5400 database using PostgreSQL JDBC connection!")

Successfully configured to ny_crime_5400 database using PostgreSQL JDBC connection!

#### Extract data from PostgresSQL to Spark

In [ ]:
# SQL query to join and select columns and filter out null values
query = """
SELECT a.arrest_date, cc.crime_category, a.precinct_id
FROM arrests AS a
left join crime_types as ct ON a.crime_type_id = ct.crime_type_id
left join crime_categories as cc ON ct.crime_category_id = cc.crime_category_id
WHERE cc.crime_category IS NOT NULL AND
      a.precinct_id IS NOT NULL AND
      a.arrest_date IS NOT NULL
"""

# Query from PostgreSQL Table
crime_sdf = spark.read \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("driver", jdbc_properties["driver"]) \
    .option("query", query) \
    .option("user", jdbc_properties["user"]) \
    .option("password", jdbc_properties["password"]) \
    .load()

print("Query successfully ran and stored in crime_sdf")

Query successfully ran and stored in crime_sdf

In [ ]:
# View first five records
crime_sdf.limit(5).show()

+-----------+--------------------+-----------+
|arrest_date|      crime_category|precinct_id|
+-----------+--------------------+-----------+
| 2006-01-01|CANNABIS RELATED ...|         60|
| 2006-01-01|   DANGEROUS WEAPONS|         77|
| 2006-01-01|   DANGEROUS WEAPONS|         75|
| 2006-01-01|CANNABIS RELATED ...|         71|
| 2006-01-01|CANNABIS RELATED ...|          7|
+-----------+--------------------+-----------+

In [ ]:
# View schema
crime_sdf.printSchema()

root
 |-- arrest_date: date (nullable = true)
 |-- crime_category: string (nullable = true)
 |-- precinct_id: integer (nullable = true)

In [ ]:
print(f"Number of records in dataframe: {crime_sdf.count()}")

Number of records in dataframe: 5488911

#### Store SDF and collect as array of Top 5 Precincts by Total Arrests to be referenced in form.html

In [ ]:
# Top 5 precincts with the highest arrests (Period: Jan 1, 2006 - Dec 31, 2022)
top5precincts_sdf = crime_sdf.groupBy("precinct_id").count().orderBy("count", ascending=False).limit(5)
top5precincts_sdf.show()
top5precincts = top5precincts_sdf.collect()

+-----------+------+
|precinct_id| count|
+-----------+------+
|         14|189932|
|         75|185883|
|         44|174519|
|         40|160897|
|         73|147616|
+-----------+------+

#### Store Max Date and Min Date to be referenced in form.html Title

In [ ]:
from pyspark.sql.functions import max, sum

In [ ]:
# Get Max date and Min date for Title to be referenced in form.html
max_arrest_date = crime_sdf.agg({"arrest_date": "max"}).collect()[0][0]
min_arrest_date = crime_sdf.agg({"arrest_date": "min"}).collect()[0][0]

print("The period of this dataset is:", min_arrest_date, " - ", max_arrest_date)

The period of this dataset is: 2006-01-01  -  2022-12-31

#### Store array of unique precincts to be referenced in the select list in form.html

In [ ]:
# Store array of unique precincts to be referenced in the select list in form.html
precinct_arr = crime_sdf.select("precinct_id").distinct().collect()
precinct_arr.sort()
print(f"Number of distinct precincts: {len(precinct_arr)}")
print(precinct_arr)

Number of distinct precincts: 78
[Row(precinct_id=1), Row(precinct_id=5), Row(precinct_id=6), Row(precinct_id=7), Row(precinct_id=9), Row(precinct_id=10), Row(precinct_id=13), Row(precinct_id=14), Row(precinct_id=17), Row(precinct_id=18), Row(precinct_id=19), Row(precinct_id=20), Row(precinct_id=22), Row(precinct_id=23), Row(precinct_id=24), Row(precinct_id=25), Row(precinct_id=26), Row(precinct_id=27), Row(precinct_id=28), Row(precinct_id=30), Row(precinct_id=32), Row(precinct_id=33), Row(precinct_id=34), Row(precinct_id=40), Row(precinct_id=41), Row(precinct_id=42), Row(precinct_id=43), Row(precinct_id=44), Row(precinct_id=45), Row(precinct_id=46), Row(precinct_id=47), Row(precinct_id=48), Row(precinct_id=49), Row(precinct_id=50), Row(precinct_id=52), Row(precinct_id=60), Row(precinct_id=61), Row(precinct_id=62), Row(precinct_id=63), Row(precinct_id=66), Row(precinct_id=67), Row(precinct_id=68), Row(precinct_id=69), Row(precinct_id=70), Row(precinct_id=71), Row(precinct_id=72), Row(precinct_id=73), Row(precinct_id=75), Row(precinct_id=76), Row(precinct_id=77), Row(precinct_id=78), Row(precinct_id=79), Row(precinct_id=81), Row(precinct_id=83), Row(precinct_id=84), Row(precinct_id=88), Row(precinct_id=90), Row(precinct_id=94), Row(precinct_id=100), Row(precinct_id=101), Row(precinct_id=102), Row(precinct_id=103), Row(precinct_id=104), Row(precinct_id=105), Row(precinct_id=106), Row(precinct_id=107), Row(precinct_id=108), Row(precinct_id=109), Row(precinct_id=110), Row(precinct_id=111), Row(precinct_id=112), Row(precinct_id=113), Row(precinct_id=114), Row(precinct_id=115), Row(precinct_id=120), Row(precinct_id=121), Row(precinct_id=122), Row(precinct_id=123)]

#### Create Flask App

In [ ]:
!pip install -U findspark

Requirement already satisfied: findspark in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
!pip install -U Flask

Requirement already satisfied: Flask in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (2.2.3)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from Flask) (6.3.0)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from Flask) (2.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from Flask) (2.2.3)
Requirement already satisfied: click>=8.0 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from Flask) (8.1.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from Flask) (3.1.2)
Requirement already satisfied: colorama in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from click>=8.0->Flask) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from importlib-metadata>=3.6.0->Flask) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jordan\appdata\local\programs\python\python38\lib\site-packages (from Jinja2>=3.0->Flask) (2.1.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Import flask libraries
from flask import Flask, render_template, request
import findspark
findspark.init()

app = Flask(__name__)

In [ ]:
# Define Flask route to display a form for user inputs
@app.route("/", methods=["GET", "POST"])
def index():
    if request.method == "POST":
        # Get user inputs from form
        precinct_id = request.form["precinct_id"]

        # Filter crime_sdf based on user inputs
        filtered_sdf = crime_sdf.filter(crime_sdf.precinct_id == precinct_id)

        # Group by crime_category
        crimes_grouped_sdf = filtered_sdf.groupBy("crime_category").count().orderBy("count", ascending=False)

        # Convert Spark DataFrame to array
        crimes_grouped = crimes_grouped_sdf.collect()

        # Store the sum value as a row value
        sum_crimes_grouped = crimes_grouped_sdf.select(sum("count").alias("sum")).collect()[0]["sum"]

        # Render filtered data as an HTML table
        return render_template("index.html",
                               precinct_id = precinct_id,
                               crimes_grouped = crimes_grouped,
                               sum_crimes_grouped = sum_crimes_grouped,
                               mindate = min_arrest_date,
                               maxdate = max_arrest_date,)

    # Render form for user inputs

    return render_template("form.html",
                           precincts = precinct_arr,
                           mindate = min_arrest_date,
                           maxdate = max_arrest_date,
                           top5precincts = top5precincts)

In [ ]:
# Run flask app
if __name__ == "__main__":
    app.run(port=8011, debug=False)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8011
Press CTRL+C to quit
127.0.0.1 - - [17/Apr/2023 23:57:21] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [17/Apr/2023 23:57:25] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [17/Apr/2023 23:57:30] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [17/Apr/2023 23:57:33] "POST / HTTP/1.1" 200 -

In [ ]:
# Stop the SparkSession
spark.stop()